<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Avoid Communication Like a Pro</h1>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Awesome guides!</h3>
    <br />
    <p>Guides that cover all aspects of formal and informal snubbing!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Help section!</h3>
    <br />
    <p>Ask specific questions and receive answers from our team of expert ignorers. (Yes, we see the irony.)</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Shop!</h3>
    <br />
    <p>Take a look through our merchandise store and pick yourself out an 'AFK' t-shirt today!</p>
  </div>
</div>